.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
body {
    margin: 0;
    padding: 0;
    background-image: url(bg2.jpg);
    background-size: contain;
    font-family: Pacifico;
}

/* Header */

.header  {
    /* border: solid; */
    display: flex;
    align-items: center;
    padding: 15px 25px;
}
.header h1 {
    margin: 0 auto;
    font-size: 64px;
    color: black;
}
.header select {
    font-size: 32px;
}
.header option {
    border: solid;
    font-size: 32px;
}
.user-name > label {
    font-size: 30px;
    color: #FF4500;
}
.user-name-submit {
    font-size: 22px;
    border-radius: 12px;
    padding: 8px 20px;
    /* color: #FF4500; */
    background-color: #FF4500;
}

#uname {
    height: 30px;
    appearance: none;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #90EE90;
}

.user-name {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Select */
select {
    padding: 8px 16px;
    appearance: none;
    border-radius: 8px;
    background-color: hotpink;
}


/* Game Arena */
.game-arena {
    border: solid;
    height: 100vh;
}
.vs, .gameWinnerDisplay{
    display: flex;
    justify-content: center;
    color: #F5F5DC;
    font-size: 18px;
    
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    box-sizing: border-box;
    gap: 8px;
    justify-content: center;
}
.cell {
    border: 10px ridge #F5DEB3;
    height: 100px;
    border-radius: 16px;
    box-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 0.5);
    background-color: #F5DEB3;
}
.cell:hover {
    background-color: #E6C990;
}

.game-actions {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    gap: 8px;
}
.game-actions > button {
    font-size: 32px;
    padding: 8px 32px;
    border-radius: 16px;
}
.start {
    background-color: gold;
    color: #FFFFFF;
}
.reset {
    background-color: #008080;
}
.gameWinnerDisplay {
    margin: 25px;
}

img {
    height: 75px;
}
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
}